<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Enviar Pix para {{ result['nome'][0] }}</title>
    <meta name="description" content="{{ result['info'][0] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Pix-code" />
    <meta property="og:image" content="https://pix-code.herokuapp.com/img/pypix.png" />
    <meta property="og:image:width" content="972" />
    <meta property="og:image:height" content="324" />

    <link rel="canonical" href="https://pix-code.herokuapp.com/">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

    <link rel="apple-touch-icon" href="/static/media/img/apple-touch-icon.png">
    <link rel="icon" href="/static/media/favicon.ico">
    <meta name="theme-color" content="#1b1b1f">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="/static/css/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/media/img/pypix.png" alt="" height="72">
            <h2>{{ result['info'][0] }}</h2>
            <p class="lead">
            </p>
        </div>
        <div class="row">
            <div class="col-md-8 mb-5">
                <div class="mb-3 text-center">
                    Para realizar o pagamento, abra o aplicativo da sua instituição financeira, vá até a seção <strong>Pix</strong> e escolha a opção de <strong>pagar com QR Code</strong>.
                    Depois é só apontar a câmera para o QR Code abaixo.
                </div>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-12 mb-3 text-center">
                        <img src="{{ result['base64qr'][0] }}" style="max-width: 100%" />
                    </div>
                </div>
                <hr class="mb-3">
                <div class="mb-3 text-center">
                    Se você vai pagar com este mesmo dispositivo <strong>clique no código abaixo</strong> para copiar.
                    Depois, na seção <strong>Pix</strong> do aplicativo da sua instituição financeira, procure a função <strong>Pix Copia e Cola</strong>.
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span id="copiado" class="text-center" style="display: none; color: blue">Código Pix Copiado!</span>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" class="form-control" id="copiaecola" name="copiaecola" placeholder="" readonly="readonly" value="{{ result['brcode'][0] }}" onclick="copiar();">
                    </div>
                </div>
            </div>
            <div class="col-md-4 sidebar">

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Dados da fatura</span>
                    <span class="badge badge-secondary badge-pill"><i class="far fa-file-alt"></i></span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Chave Pix</h6>
                            <small class="text-muted">{{ result['chave'][0] }}</small>
                        </div>
                        <span class="text-pix text-center" style="width:20px"><i class="fas fa-key"></i></span>
                    </li>
                                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Descrição</h6>
                            <small class="text-muted">{{ result['info'][0] }}</small>
                        </div>
                        <span class="text-pix text-center" style="width:20px"><i class="fas fa-file-invoice"></i></span>
                    </li>
                                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Cedente</h6>
                            <small class="text-muted">{{ result['nome'][0] }}</small>
                        </div>
                        <span class="text-pix text-center" style="width:20px"><i class="fa fa-id-card"></i></span>
                    </li>
                                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Identificador</h6>
                            <small class="text-muted">{{ result['txid'][0] }}</small>
                        </div>
                        <span class="text-pix text-center" style="width:20px"><i class="fas fa-tag"></i></span>
                    </li>
                                                        </ul>

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Compartilhar fatura</span>
                    <span class="badge badge-secondary badge-pill"><i class="fas fa-share-alt"></i></span>
                </h4>
                <div class="mb-3">
                    <div class="list-group-item text-center">
                        <a class="share-button" href="https://api.whatsapp.com/send?text={{ result['info'][0] }}%20%0A%0{{ result['shared_link'][0] }}" title="Compartilhar pelo WhatsApp">
                            <i class="fab fa-whatsapp" style="background-color: #075e54;"></i>
                        </a>
                        <a class="share-button" href="https://telegram.me/share/url?url={{ result['info'][0] }}%20%0A%0{{ result['shared_link'][0] }}" title="Compartilhar pelo Telegram">
                            <i class="fab fa-telegram" style="background-color: #08c;"></i>
                        </a>
                                                <a class="share-button" href="https://twitter.com/intent/tweet?text={{ result['info'][0] }}&url={{ result['shared_link'][0] }}" title="Compartilhar pelo Twitter">
                            <i class="fab fa-twitter" style="background-color: #5eb2ef;"></i>
                        </a>
                        <a class="share-button" href="mailto:" title="Compartilhar por e-mail">
                            <i class="fas fa-envelope" style="background-color: #eb4d3f;"></i>
                        </a>
                    </div>
                </div>

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Consultoria Pix</span>
                    <span class="badge badge-secondary badge-pill"><i class="fas fa-envelope"></i></span>
                </h4>
                <ul class="list-group mb-3 text-center">
                    <a href="mailto:cleiton.leonel@gmail.com" style="text-decoration: none; color: black;">
                        <li class="list-group-item justify-content-between lh-condensed">
                            <span class="__cf_email__" data-cfemail="65060a0b1104110a25150c1d4b0400">cleiton.leonel@gmail.com</span>
                        </li>
                    </a>
                </ul>

            </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <ul class="list-inline">
                                <li><a href="/">Página inicial</a></li>
            </ul>
        </footer>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery.inputmask.min.js"></script>
    <script src="/static/js/pagar.js"></script>

    <script type="text/javascript">
        function copiar() {
          document.getElementById("copiado").style.display = "block";
          var copyText = document.querySelector("#copiaecola");
          copyText.select();
          document.execCommand("copy");

          sleep(1000).then(() => {
            document.getElementById("copiado").style.display = "none";
          });
        }

        function sleep (time) {
          return new Promise((resolve) => setTimeout(resolve, time));
        }
    </script>
</body>
</html>